<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fácil Home</title>

	
	<link rel="icon" sizes="192x192" href="img/fav_icon.png">

	<!-- JQuery -->
	<script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>

	<!-- Styles -->
	<link href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body class="setTime">
	<img  id="logo1" src="img/marca.svg" alt="">
	<div class="contenedorPuntos">
		<div class="cargaPuntos">
		</div>
	</div>
	
	<span class="loading-spinner hidden">
		<img src="/img/shared/spinner.gif" width="60" height="60" alt="Cargando">
	</span>

	<header class="hidden2">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<img src="img/Nombre.svg" alt="facilHome">
				</div>
			</div>
		</div>
	</header>

	<section class="content addm">
		<div class="container column-wrapper">
			<div class="row">
				<div class="col-xs-12">
					<p class="x5 x5--top bienv hidden2">¡Bienvenido!</p>

					<h3 th:if="${logout != null}" th:text="${logout}" style="color: lightseagreen;"></h3>
					<form action="/logincheck" class="hidden2" method="post">
						<div class="input-group">
							<label class="form-label" for="logMail">Email</label>
							<input  class="form-control" type="email" id="logMail" name="mail" title="Email" required>
						</div>

						<div class="input-group x1">
							<img class="icon-view-show" src="img/pol/icons/view-show.svg" alt="Mostrar">
							<img class="icon-view-hide hidden" src="img/pol/icons/view-hide.svg" alt="Ocultar">

							<label class="form-label" for="logPassword">Password</label>
							<input id="logPassword" class="form-control" type="password"  name="password"
								title="Contraseña" required>
						</div>

						<div class="input-message error x3 hidden" th:if="${error != null}">
							El mail o la contraseña con invalidos
						</div>

						
						<button id="btnIngresar" class="btn btn-primary x2 hidden2" type="submit">Ingresar</button>
					</form>
				</div>
			</div>
		</div>
	</section>

</body>

<!-- Javascript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript" src="js/admin.js"></script>

</html>